<a href="https://colab.research.google.com/github/yshungria-uniandes/Data-Science-Fundamentals-/blob/main/El_Poder_Oculto_de_las_Tuplas%2C_Diccionarios_y_Bucles_For_en_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# El Poder Oculto de las Tuplas, Diccionarios y Bucles For en Python

## Introducción

En este capítulo, exploraremos tres componentes fundamentales de la programación en Python: tuplas, diccionarios y bucles for. Estos elementos son esenciales para escribir programas eficientes y organizados. Las tuplas son estructuras de datos inmutables que permiten almacenar múltiples valores en un solo objeto. Los diccionarios son colecciones de pares clave-valor que permiten un acceso rápido a los datos. Los bucles for son estructuras de control que permiten iterar sobre secuencias y realizar operaciones repetitivas de manera eficiente.

## Listas

In [3]:
lista_vacia = []
lista_1 = [1, 'Yojan', 'a', 5, 76, 75, 3, True]
print(lista_vacia)

[]

In [4]:
print(lista_1)

[1, 'Yojan', 'a', 5, 76, 75, 3, True]

In [6]:
print(lista_1[0])

1

In [20]:
print(lista_1[2])

a

In [19]:
len(lista_1)

15

In [18]:
lista_1.append('Hola')
print(lista_1)

[1, 'Yojan', 'a', 5, 76, 75, 3, True, 'Hola', 'Hola', 'Hola', 'Hola', 'Hola', 'Hola', 'Hola']

In [24]:
lista_1.pop(0)
print(lista_1)

[5, 76, 75, 3, True, 'Hola', 'Hola', 'Hola', 'Hola', 'Hola', 'Hola', 'Hola']

In [27]:
lista_1.reverse()
print(lista_1)

['Hola', 'Hola', 'Hola', 'Hola', 'Hola', 'Hola', 'Hola', True, 3, 75, 76, 5]

## Tuplas en Python

### ¿Qué es una Tupla?

Una tupla es una colección ordenada de elementos que es inmutable, lo que significa que no se puede modificar después de su creación. Las tuplas son útiles cuando se desea almacenar un conjunto de valores relacionados y asegurarse de que estos no cambien.

### Creación de Tuplas

Las tuplas se pueden crear usando paréntesis () y separando los elementos con comas.

### Desempaquetado de Tuplas

Puedes desempaquetar una tupla en variables individuales.

In [83]:
tupla = (1, 2, 3)
a, b, c = tupla
print(a, b, c)

1 2 3

Métodos y Operaciones con Tuplas

Aunque las tuplas son inmutables, puedes realizar algunas operaciones con ellas, como concatenación y repetición.

In [84]:
tupla1 = (1, 2, 3)
tupla2 = (4, 5, 6)

# Concatenación
tupla_concatenada = tupla1 + tupla2
print(tupla_concatenada)

# Repetición
tupla_repetida = tupla1 * 2
print(tupla_repetida)

# (1, 2, 3, 4, 5, 6)
# (1, 2, 3, 1, 2, 3)

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 1, 2, 3)

In [31]:
# Tuplas
tupla_vacia = ()
tupla_1 = (1, 'Yojan', 'a', 5, 76, 75, 3, True)
print(tupla_vacia)
print(tupla_1)

()
(1, 'Yojan', 'a', 5, 76, 75, 3, True)

In [34]:
# tupla_1.append(1)
# Tupla has no attibute 'append'

In [36]:
# tupla_vacia.append(1)
# No se puede ni añadir ni eliminar

In [38]:
print(tupla_1[0])

1

In [39]:
print(tupla_1[2])

a

## Diccionarios en Python

### ¿Qué es un Diccionario?

Un diccionario es una colección desordenada de pares clave-valor. Cada clave en un diccionario es única y se utiliza para acceder a su valor correspondiente.

Los diccionarios son mutables, lo que significa que puedes modificar sus elementos después de su creación.

### Creación de Diccionarios
Los diccionarios se crean usando llaves {} y separando los pares clave-valor con dos puntos :

In [85]:
diccionario_vacio = {}
diccionario = {"nombre": "Juan", "edad": 25, "ciudad": "Madrid"}
print(diccionario)

# {'nombre': 'Juan', 'edad': 25, 'ciudad': 'Madrid'}

{'nombre': 'Juan', 'edad': 25, 'ciudad': 'Madrid'}

### Acceso y Modificación de Valores

Puedes acceder a los valores de un diccionario usando sus claves. También puedes modificar los valores asociados a una clave.

### Métodos Útiles para Diccionarios

Los diccionarios tienen varios métodos útiles para manipular sus elementos.

keys(): Devuelve una vista de todas las claves del diccionario.

values(): Devuelve una vista de todos los valores del diccionario.

items(): Devuelve una vista de todos los pares clave-valor del diccionario.

get(): Devuelve el valor de una clave, o un valor por defecto si la clave no existe.

pop(): Elimina una clave y devuelve su valor.

update(): Actualiza el diccionario con pares clave-valor de otro diccionario o iterable.

In [87]:
diccionario = {"nombre": "Juan", "edad": 25, "ciudad": "Madrid"}

In [88]:

# keys()
print(diccionario.keys())

# values()
print(diccionario.values())

# items()
print(diccionario.items())

# get()
print(diccionario.get("nombre"))
print(diccionario.get("profesion", "Desconocido"))

# pop()
edad = diccionario.pop("edad")
print(edad)
print(diccionario)

# update()
diccionario.update({"edad": 26, "pais": "España"})
print(diccionario)

# dict_keys(['nombre', 'edad', 'ciudad'])
#dict_values(['Juan', 25, 'Madrid'])
#dict_items([('nombre', 'Juan'), ('edad', 25), ('ciudad', 'Madrid')])
#Juan
#Desconocido
#25
#{'nombre': 'Juan', 'ciudad': 'Madrid'}
#{'nombre': 'Juan', 'ciudad': 'Madrid', 'edad': 26, 'pais': 'España'}

dict_keys(['nombre', 'edad', 'ciudad'])
dict_values(['Juan', 25, 'Madrid'])
dict_items([('nombre', 'Juan'), ('edad', 25), ('ciudad', 'Madrid')])
Juan
Desconocido
25
{'nombre': 'Juan', 'ciudad': 'Madrid'}
{'nombre': 'Juan', 'ciudad': 'Madrid', 'edad': 26, 'pais': 'España'}

In [41]:
dict = {}
dict1 = {1: 'Yojan', 'a': 5, 76: 75, 3: True}
print(dict)
print(dict1)

{}
{1: 'Yojan', 'a': 5, 76: 75, 3: True}

In [42]:
print(dict1[1])

Yojan

In [43]:
print(dict1['a'])

5

In [44]:
print(dict1[76])

75

In [45]:
dict1['Yojan'] = 'Hola'
print(dict1)

{1: 'Yojan', 'a': 5, 76: 75, 3: True, 'Yojan': 'Hola'}

In [47]:
dict1['Yojan'] = 'Adios'
print(dict1)

{1: 'Yojan', 'a': 5, 76: 75, 3: True, 'Yojan': 'Adios'}

In [50]:
#dict1.pop(3)
print(dict1)

{1: 'Yojan', 'a': 5, 76: 75, 'Yojan': 'Adios'}

In [52]:
dict1.items()

dict_items([(1, 'Yojan'), ('a', 5), (76, 75), ('Yojan', 'Adios')])

In [54]:
dict1.keys()

dict_keys([1, 'a', 76, 'Yojan'])

In [56]:
dict1.values()

dict_values(['Yojan', 5, 75, 'Adios'])

## Bucles For en Python

### ¿Qué es un Bucle For?

Un bucle for en Python se utiliza para iterar sobre una secuencia (como una lista, tupla, diccionario, conjunto o cadena) y ejecutar un bloque de código para cada elemento de la secuencia.


### Bucle For con Listas

Puedes usar un bucle for para iterar sobre los elementos de una lista.

In [90]:
lista = [1, 2, 3, 4, 5]
for elemento in lista:
    print(elemento)
#

1
2
3
4
5

### For con Tuplas

Los bucles for también funcionan con tuplas.

In [92]:
tupla = (10, 20, 30, 40, 50)
for elemento in tupla:
    print(elemento)

#10
#20
#30
#40
#50

10
20
30
40
50

### Bucle For con Diccionarios

Puedes iterar sobre los elementos de un diccionario de diferentes maneras.

Iterar sobre claves:

In [94]:
diccionario = {"nombre": "Juan", "edad": 25, "ciudad": "Madrid"}
for clave in diccionario:
    print(clave)

#nombre
#edad
#ciudad

nombre
edad
ciudad

In [97]:
# Iterar sobre valores:
for valor in diccionario.values():
    print(valor)

#Juan
#25
#Madrid

Juan
25
Madrid

In [98]:
# Iterar sobre pares clave-valor:
for clave, valor in diccionario.items():
    print(f"{clave}: {valor}")

#nombre: Juan
#edad: 25
#ciudad: Madrid

nombre: Juan
edad: 25
ciudad: Madrid

In [58]:
for key, value in dict1.items():
    print(key, value)

1 Yojan
a 5
76 75
Yojan Adios

In [60]:
for key in dict1.keys():
    print(key)

1
a
76
Yojan

In [62]:
for value in dict1.values():
    print(value)

Yojan
5
75
Adios

In [64]:
for key in dict1:
    print(key)

1
a
76
Yojan

In [66]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [68]:
for i in range(1, 100, 2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [69]:
for i in range(10, 0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [70]:
for i in range(10, 0, -2):
    print(i)

10
8
6
4
2

In [72]:
for valores in tupla_1:
    print(valores)

1
Yojan
a
5
76
75
3
True

In [74]:
for valores in lista_1:
    print(valores)

Hola
Hola
Hola
Hola
Hola
Hola
Hola
True
3
75
76
5

In [76]:
for valores in dict1:
    print(valores)

1
a
76
Yojan

In [77]:
for valores in dict1.items():
    print(valores)

(1, 'Yojan')
('a', 5)
(76, 75)
('Yojan', 'Adios')

In [78]:
for valores in dict1.keys():
    print(valores)

1
a
76
Yojan

In [80]:
for valores in dict1.values():
    print(valores)

Yojan
5
75
Adios

In [81]:
for i in range(len(lista_1)):
    print(lista_1[i])

Hola
Hola
Hola
Hola
Hola
Hola
Hola
True
3
75
76
5

In [82]:
for i in range(len(tupla_1)):
    print(tupla_1[i])

1
Yojan
a
5
76
75
3
True